version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
    labels:
      - "dependencies"
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    labels:
      - "dependencies"
