{
    "branches": [
        "main",
        {
            "name": "devel",
            "prerelease": true
        }
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits",
                "releaseRules": [
                  { "scope": "no-release", "release": false }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/changelog",
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "make docs"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "package-lock.json",
                    "CHANGELOG.md",
                    "docs",
                    "routeros/mikrotik_resource_drift.go"
                ],
                "message": "chore(release): ${nextRelease.version}"
            }
        ],
        "@semantic-release/github"
    ]
}
