name: Go Client Tests
on:
  push:
    branches:
      - 'main'
    paths:
      - 'main.go'
      - 'routeros/*.go'
      - '.github/workflows/*.yml'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'main.go'
      - 'routeros/*.go'
      - '.github/workflows/*.yml'
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        experimental: [false]
        go:
          - 1.17
        os: [ubuntu-latest]
        routeros_version:
          - "7.5"

    steps:
      - name: Setup Go environment
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: | 
          go mod download

      - name: Build
        run: go build -v .

      - name: Set up RouterOS
        run: |
          sudo pip3 install routeros_api
          python3 .github/scripts/setup_routeros.py
        env:
          ROS_USERNAME: admin
          ROS_PASSWORD: ''
          ROS_IP_ADDRESS: 127.0.0.1

      - name: Run client tests
        run: go test ./routeros
        env:
          ROS_HOSTURL: https://127.0.0.1
          ROS_USERNAME: admin
          ROS_PASSWORD: ''
          ROS_INSECURE: true
          TF_ACC: 1

    services:
      routeros:
        image: vaerhme/routeros:v${{ matrix.routeros_version }}
        ports:
          - 443:443
          - 8728:8728
          - 8729:8729
        volumes:
          - /dev/net/tun:/dev/net/tun
        options: >-
          --cap-add=NET_ADMIN
